header {
    width: 1920px;
    height: 720px;
    background-color: rgb(12, 45, 123);
}

.font>h1 {
    font-family: "Lalezar", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    color:white;
    margin-left: 245px;
}

.font>img {
    width: 808px;
    height: 269px;
    margin-left: 18px;
    margin-top: 31px;
}

body{
    background-color: rgb(12, 45, 123);
}

.ata{
    width: 550px;
    height: 627.34px;
    position: absolute; top: 0; right: 0;
    margin-top: 50px;
    margin-right: 50px;
}

main{
    background-image:url("IMG/Ata.jpg");
    width: 1920px;
    height: 1024px;
    background-repeat: no-repeat;
}  

main>p{
    font-family: "Lalezar", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color:white;
    font-size: 64px;
}

.dd{
    margin-left: 105px;
    margin-top: 100px;
    font-size: 96px;
    
}

.ddd{
    margin-left: 341px;
    margin-top: 250px;
    font-size: 96px;
}

.dddd{
    margin-left: 1266px;
    margin-top: 300px;
    font-size: 96px;
}

.yes>img{
    margin-left: 95px;
    margin-top: 160px;
    width: 500px;
    height: 666.67px;
}

.yes>h1{
    font-family: "Lalezar", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color:white;
    font-size: 64px;
    position: absolute; top: 1980px; left: 728px;
    width: 880px;
    height: 728px;
}

footer{
    background-color: rgb(84, 85, 96);
    width: 1920px;
    height: 304px;
}

.skibib{
    width: 36px;
    height: 36px;
    position: absolute; left: 165px; top: 2875px
}

.skib{
    font-family: "Lalezar", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color:white;
    position: absolute; left: 117px; top: 2800px
}

.skibid{
    font-family: "Lalezar", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color:white;
    position: absolute; left: 210px; top: 2850px
}